.container {
    width: min(90%,140rem);
    margin: 0 auto;
}

.informacion {
    margin-top: 25rem;
}

@media (min-width: 768px) { 
    .informacion {
        margin-top: 10rem;
    }
}

.informacion h1 {
    color: var(--indigo);
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
}

.informacion p {
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.2;
}



.integrantes h2 {
    color: var(--indigo);
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}



.lideres h3,
.marketing h3,
.disign h3,
.programacion h3 {
    color: var(--naranja);
    text-align: start;
    text-transform: uppercase;
    font-size: 2.4rem;
}

@media (min-width:  768px) { 
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        justify-content: center;
    }
}

.card {
    background-color: var(--blanco);
    border: 1px solid var(--blanco);
    border-radius: 1rem;
    box-shadow: -1px 5px 18px -3px #000000;
    margin-bottom: 2rem;
    width: 450px;
}

.cardImagen {
    width: 100%;
    padding: 0;   
}

.cardImagen img {
    width: 100%;
}

.cardImagen h3 {
    color: var(--grisOscuro);
    text-align: center;
    margin: 0 auto;
    margin-top: 10rem;
    border-bottom: 3px solid var(--fondo);
    height: 20rem;
}

.cardInfo,
.cardBtn {
    padding: 1rem;
}

.cardInfo h3 {
    color: var(--indigo);
    margin-bottom: 0;
}

.cardInfo p {
    text-align: start;
}

.cardInfo span {
    color: var(--naranja);
}


.persona {
    width: min(90%,120rem);
    margin-top: 25rem;
}

@media (min-width: 768px) { 
    .persona {
        margin-top: 10rem;
    }
}

.contenedor {
    width: min(120rem,90%);
    margin: 0 auto;
}

.persona h1 {
    color: var(--indigo);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 0;
}

.persona p {
    margin-top: 0;
    font-size: 2.4rem;
    font-weight: 700;
}

.sobremi h2 {
    color: var(--naranja);
    font-size: 3rem;
    text-transform: uppercase;
}

.sobremi p {
    font-weight: 400;
    line-height: 1.2;
}

.sobremi span {
    font-weight: 900;
}

.habilidades h2 {
    color: var(--rosado);
    font-size: 3rem;
}

.habilidades ul {
    list-style: square;
    font-size: 2.4rem;
    font-weight: bold;
}

.habilidades li {
    margin-left: 5rem;
}

.hobbies h2{
    color: var(--indigo);
    font-size: 3rem;
}

.hobbies p {
    font-weight: 400;
    margin-left: 5rem;
}